.frame-profile {

  padding: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-header {
    color: #2B569A;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.profile-content{

display: flex;
flex-direction: column;
align-items: center;

}
.profile-info {

margin-top: 30px;
}
.profile-data{

margin-top: 15px;
}
.profile-data p {

font-size: 25px;

}
.profile-data p:not(:last-child) {
margin-bottom: 20px;

}
.profile-actions{

  margin-top: 25px;
}
#logout-btn{

width: 250px;
height: 30px;
color: white;
background-color: #2B569A;
border: none;
border-radius: 13px;
transition: 0.2s ease;
}
#logout-btn:active{

  background: #1d3a69;
  transition: 0.2s ease;

}



