@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yeseva One';
    src: url('../font/YesevaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
margin: 0;
padding: 0;

}
body{
    margin: 0 auto;
    font-family: 'Raleway'; 
}

.header {

    display: flex;
    height: 60px;
    background-color: #2B569A;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo h1{
    
    font-size: 45px;
    color: white;
    margin: 0 auto;
    font-family: 'Yeseva One';
    }

nav{

margin: 0px 20px;

}
nav ul{
display: flex;

}
.nav-element{
color: white;
list-style: none;


}
.nav-element:not(:last-child){
    margin-right: 40px;
}
.element-link{
color: white;
text-decoration: none;
}
.acc-title{
max-width: 250px;
color: white;
}
.acc-selector{

display: flex;
align-items: center;

}
.acc-information img{
width: 40px;
height: 40px;

}

@media (max-width:920px) { 
.acc-title{
    display: none;
}
}





