@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yeseva One';
    src: url('../font/YesevaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Мейн контейнер*/
.form-load-courseswork{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    
    
    .load-courseswork-title{
    color: #2B569A;
    
    
    }
    .form{
    display: flex;
    justify-content: center;
    
    }
    
    .btn-load-courseswork{
        border-radius: 13px;
        font-weight: 500;
        width: 354px;
        height: 72px;
        font-size: 24px;
        color: #fff;
        background: #2b569a;
        margin-top: 50px;
        border: none;
        box-shadow: 2px 2px rgb(151, 151, 151);
        transition: 0.2s ease;
    
    }
    .btn-load-courseswork:active{
    
        background: #1d3a69;
        transition: 0.2s ease;
    
    }
/*Pop-up окно*/

.pop-up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    opacity: 0;
    transition: 
      transform 0.4s ease-in-out,
      background-color 0.4s ease-in-out,
      opacity 0.4s ease-in-out; /* Добавляем для плавного появления */
  }
  
  .pop-up.active {
    transform: translateY(0%) scale(1);
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
  }

.pop-up-container{

display: flex;
align-items: center;
width: 100%;
height: 100%;

}
.pop-up-body{
margin: auto;
position: relative;
background-color: white;
width: 500px;
border-radius: 13px;
text-align: center;
padding: 100px 50px;


}
.pop-up-body form{

    display: flex;
    flex-direction: column;
    width: 500px;
    max-height: 450px;
    align-items: center;
    
    
}
.pop-up-body form p{

font-size: 25px;
padding-bottom: 15px;
}
.pop-up-form-element{

padding-left: 10px;
width: 250px;
height: 45px;
border-radius: 5px;
border: none;
box-shadow: none;
background-color: rgb(212, 212, 212);
transition: 0.6s ease;
font-size: 15px;

}
.pop-up-form-element:focus{
    outline: none;
    background-color: rgb(243, 239, 239);
    transition: 0.6s ease;
    

}
.pop-up-form-element:not(:last-child){

margin-bottom: 10px;

}

.img-pop-up-close{

    width: 30px;
}
.btn-pop-up-element{
    background-color: #2b569a;
    color: white;
    transition: 0.1s ease;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.btn-pop-up-element:active{

    background-color: #1d3a69;

}
.pop-up-close{
width: 30px;
position: absolute;
left: 530px;
top: 30px;
cursor: pointer;
}

/*Карточка заявки*/

.frame-card{

margin-top: 50px;

}
.card{
margin: 20px;
border: 1px #2b569a solid;
padding: 10px;
border-radius: 10px;

}
.card-row:not(:last-child){

margin-bottom: 10px;

}
.card-title{

text-align: center;

}

